
<section class="story_wrapper">
  <h3 class="yellow_font heading">How To Play</h3>
    <ul>
      <br>
        <li>1. Select your character from below</li>
        <li>2. When you arrive you will get a envelope with your character's objective and secret tasks.</li>
        <li>3. The game is task based, you don't have to read out or perform any lines.</li>
        <li>4. As events unfold look out for clues.</li>
        <li>5. At 10pm name your suspsect.</li>

    </ul>

</section>