
<section class="story_wrapper">
  <h3 class="yellow_font heading">How To Play</h3>
    <ul>
        <li>Select your character from below</li>
        <li>The party is on October 29th, the game starts at <b>7pm</b></li>
        <li>When you arrive you will get a envelope with your character's objective and secret tasks.</li>
        <li>The game is task based, you don't have to read out or perform any lines.</li>
        <li>As events unfold look out for clues.</li>
        <li>At 10pm name your suspsect.</li>

    </ul>

</section>