<div class = "eightbit_box_invitation_wrapper">

  <div class = "eightbit_box_invitation">
      <p>HEY, <br>
          <span class="invite_inner">
          <br>
          I'm having a party to celebrate mine and Tom's little movie. <br>
          <br>
          Would LOVE it if you'd be there. 
          <br>
          <br>
          It's Halloween so come in costume as your most FAMOUS selves only please. 
          <br>
          <br>
      </span>
          Be there or be SQUARE,<br>
          Sandrine 
          <br>
          x
          </p>
  </div>
</div>