
<section class = "eightbit_box_invitation_wrapper">
  <div class = "eightbit_box_invitation">

      <p id="invite_text">
          </p>
        <div class = "sandrine_image_wrapper">
          <img class="sandrine_invite" src="/characters/images/sandrine_invite.png"> 
        </div>

  </div>
</section>

<script>
  let i = 0;
  let invite = 
  ` HEY,                                          
   I'm having a Halloween party to celebrate mine and Tom's little movie...          
   Come in costume as your most FAMOUS selves only please!                
   Be there or be square,        
   Sandrine`
  console.log()
  let speed = 50;

  function typeWriter() {
    
    if (i < invite.length) {
      document.getElementById('invite_text').innerHTML += invite.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }
</script>
