<section class ="section_wrapper">
    <ul>
        <li>Date: Saturday 29th October </li>
        <li>Location: My house, Finsbury Park</li>
        <li>Time: Arrive at<b>7pm</b>, the game will start then.</li>
      </ul>
</section>