<div class="heading-container">        
    <h1 class="dreams">Sandrine</h1>
</div>
     
<h2>Happy Halloween</h2>

  <h3>The Story</h3>
  <p>The year is 1986 and there's a new celebrity in town.<br>
  <br>
  Nobody had heard of Sandrine before but somehow she's getting the lead in all the hottest films.  She's staring opposite Tom Cruise in her next film and she's even got an album coming out. 
  <br> 
  <br> Sandrine's throwing a Halloween party, anyone who's anyone will be there...that is, aside from her strange, misfit husband, Erik.
  <br>
  <br>
  Something strange is definetely going on here. Rumour has it, it's best to stay on the right side of Sandrine... 
  </p>
