
  <section class="section_wrapper">
  <h3 class="yellow_font heading">The Story</h3>
  <p>The year is 1989 and there's a new celebrity in town.
  <br>
  Nobody had heard of Sandrine before but somehow she's getting the lead in all the best films.  
  She's staring opposite Tom Cruise in her next film, meanwhile her album is mysteriously climbing the charts. 
  <br> 
  <br> She's having a Halloween party and anyone who's anyone will be there...
  <br>
  Something strange is definetely going on here. Rumour has it, it's best to stay on the right side of Sandrine... 
  </p>

</section>