
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
    background-color:black;
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin:4em;
}

p {
  font-size:26px;
}

.heading_container{
  padding-bottom: 5em;
    text-align: center;
}

.heading{
  margin-bottom:1.5em;
}

/* FONTS */

.dreams {
  font-family: 'Mr Dafoe', cursive;
  font-size: 100px;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

.windows .dreams {
  -webkit-text-stroke: 4px #f008b7;
}

section {
  margin-top: 4em;
  color:white;
}

.story_wrapper {
  text-align:center;
  font-family: monospace;

}

.eightbit_box_invitation_wrapper{
    background-color: #FFFFFF;
    padding:0.5em;
    box-shadow: 5px 5px #777777;
}

.eightbit_box_invitation{
    border-top: 1px solid #B12918;
    border-bottom: 1px solid #B12918;
    border-left: 2px solid #B12918;
    border-right: 2px solid #B12918;
    padding-left:0.5em;
    padding-right:0.5em;
}

.eightbit_box_invitation p {
    font-family: 'Press Start 2P';
    line-height:35px;
    color:black;
    margin: 1em;

}

span.invite_inner{
    position: relative;
    left: 5px;
}


  /* CHARACTER CARDS */

  .yellow_font{
    font-family: 'Press Start 2P';
    font-size: 50px;
    color:#FFFD54;
    text-align:center;
    text-transform: uppercase;
    text-shadow: 2px 2px #ff0000;

  }

  .character_card{
      background-color: blue;
      padding:0.5em;
      display:flex;
      flex-direction:column;
      margin:1em;
  }

  .photo_box{
    text-align:center;

  }

  .photo_box img{
      max-width:300px;
      margin:1.5em;
  }

  .card_inner{
    display:flex;
    align-items:center;
  }

/* character card font  */

  .character_card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .character_description{
    color:white;
    font-family: monospace;

  }

  .player_details {
    text-align:center;
    color:white;
    font-family: 'Press Start 2P';
  }

  span.player_name{
    color:#FFFD54;
  }


#celebrityName {
    margin-top:1em;
}

form {
  margin-bottom:10px;
  color:black;
}

button {
  color: blue;
}